.header .header-search form button[type=submit]:hover {
	color: #e594b2;
}
.mainmenu > ul > li ul li.active > a {
	color: #e594b2;
}
.mainmenu > ul > li ul li > a:hover {
	color: #e594b2;
}
.header-v2 .mainmenu > ul > li > ul.mainmenu-mega-menu li:hover > a {
	color: #e594b2;
}
.project-front .project-front-sect {
	color: #e594b2;
}
.project-front-more a {
    color: #e594b2;
}
.project-front-more a:after {
    background: #e594b2;
}
.project-front-more a:hover {
	border-color: #e594b2;
}
.post-front .post-front-sect {
	color: #e594b2;
}
.post-front .post-front-sect:hover {
	border-color: #e594b2;
}
.post-front h3 a:hover {
	color: #e594b2;
}
.post-front-link a {
    color: #e594b2;
}
.post-front-link a:after {
    background: #e594b2;
}
.post-front-link a:hover {
	border-color: #e594b2;
}
.instagram-more a {
    color: #e594b2;
}
.instagram-more a:after {
    background: #e594b2;
}
.instagram-more a:hover {
	border-color: #e594b2;
}
.contacts-form form button[type=submit]:hover {
	color: #e594b2;
}
.footer .footer-subscribe button[type=submit]:hover {
	color: #e594b2;
}
.footer .footer-social li a .fa:hover {
	color: #e594b2;
}
.project-front-sections li a.active {
	color: #e594b2;
}
.blog-sections li.active a {
	color: #e594b2;
}
.blog-i .blog-slider .flex-control-paging li a.flex-active {
    background: #e594b2;
}
.blog-i:hover .blog-cont time {
    color: #e594b2;
}
.blog-i .blog-cont .blog-category a {
	color: #e594b2;
}
.blog-i .blog-cont .blog-category a:hover {
	border-color: #e594b2;
}
.blog-i .blog-cont h3 a:hover {
	color: #e594b2;
}
.blog-i .blog-cont .blog-more {
	color: #e594b2;
}
.blog-i .blog-cont .blog-more:hover {
	border-color: #e594b2;
}
.blog-i .blog-cont .blog-more:after {
    background: #e594b2;
}
.blog-showmore a {
    color: #e594b2;
}
.blog-showmore a:after {
    background: #e594b2;
}
.blog-showmore a:hover {
	border-color: #e594b2;
}
.fs-pager-wrapper .active{
	background: #e594b2;
}
.project .project-info a {
	color: #e594b2;
}
.project .project-info a:hover {
	border-color: #e594b2;
}
.project .project-share li a:hover {
	color: #e594b2;
}
.project-showmore a {
    color: #e594b2;
}
.project-showmore a:after {
    background: #e594b2;
}
.project-showmore a:hover {
	border-color: #e594b2;
}
.post-top .header {
    background: #e594b2;
}
.post .post-info a {
	color: #e594b2;
}
.post .post-info a:hover {
	border-color: #e594b2;
}
.post .post-share li a:hover {
	color: #e594b2;
}
.post .post-tags li a:hover {
	color: #e594b2;
}
.post .post-addcomment button[type=submit]:hover {
	color: #e594b2;
}
.post-showmore a {
    color: #e594b2;
}
.post-showmore a:after {
    background: #e594b2;
}
.post-showmore a:hover {
	border-color: #e594b2;
}
.post-related .post-related-sect {
	color: #e594b2;
}
.post-related .post-related-sect:hover {
	border-color: #e594b2;
}
.post-related h3 a:hover {
	color: #e594b2;
}